<head>
<style>
  #map{
    height: 400px;
    width: 100%;
  }
</style>
</head>

<h1 class="mt-4">Smart-Movers</h1>
<p class="lead mb-3">Welcome to smart movers </p><br>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#loads"><i class="fas fa-th-large"></i> Loads</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#trucks"><i class="fas fa-truck"></i> Trucks </a>
  </li>
  <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#userpanel"><i class="fas fa-tachometer-alt"></i> User Panel</a>
    </li>

</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active show" id="loads">
    <br>
      <form action="/loads/loads" method="POST">
        <body>
            <br>
          <div class="form-group row">
              <label for="departure" class="col-sm-1 col-form-label">Departure:</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" name="Departure" id="departure" placeholder="Departure" value="<%= typeof Departure != 'undefined' ? Departure : '' %>">
              </div>
            </div>
            <div class="form-group row">
                <label for="Destination" class="col-sm-1 col-form-label">Destination:</label>
                <div class="col-sm-4">
                  <input type="text" class="form-control" id="Destination" name="Destination" placeholder="Destination" value="<%= typeof Destination != 'undefined' ? Destination : '' %>">
                </div>
              </div>
              <div class="form-group row">
                <label for="Location" class="col-sm-1 col-form-label">Location:</label>
                <div class="col-sm-4">
                  <input type="text" class="form-control" id="Location" name="Location" placeholder="Location" value="<%= typeof Location != 'undefined' ? Location : '' %>">
                </div>
              </div>
              <div class="form-group row">
                  <label for="tons" class="col-sm-1 col-form-label">Tons:</label>
                  <div class="col-sm-4">
                    <input type="number" class="form-control" name="Tons" id="tons" placeholder="tons" value="<%= typeof Tons != 'undefined' ? Tons : '' %>">
                  </div>
                </div>
                <div class="form-group row">
                    <label for="contacts" class="col-sm-1 col-form-label">Contact:</label>
                    <div class="col-sm-4">
                      <input type="number" class="form-control" name="Contact" id="contacts" placeholder="contacts" value="<%= typeof Contact != 'undefined' ? Contact : '' %>">
                    </div>
                  </div>
                  <div class="form-group row">
                      <label for="date" class="col-sm-1 col-form-label">Date</label>
                      <div class="col-sm-4">
                        <input type="date" class="form-control" name="Date" id="date" placeholder="Date" value="<%= typeof Date != 'undefined' ? Date : '' %>">
                      </div>
                    </div>
                    <div class="form-group row col-sm-2">
                        <button type="submit" class="btn btn-primary btn-block">
                            Submit
                          </button>
                    </div>
                    <div> 
                      <a href="/users/logout" class="btn btn-secondary" class="btn btn-primary btn-block col-sm-2">Logout</a>
                    </div> 

          
        </body>       
      </form>
  </div>
  <div class="tab-pane fade" id="trucks">
    <br>
      <form action="/loads/loads/search" method="POST">
        <body>
            <h1>GoogleMap</h1>
            <div id="map">
            
              </div>
                <script>
                    function initMap(){
  
                      //Map Options
                      var options = {
                        zoom:13,
                        center:{lat:-1.2921, lng:36.8219}
                      }
  
                      //New Map
                      var map = new 
                      google.maps.Map(document.getElementById('map'), options);
  
                     
                      //Listen for click on map
                      google.maps.event.addListener(map, 'click',
                      function(event){
                        //Add marker
                        addMarker({coords:event.latLng});
                      });
  
                    }
                  </script>
        
                  <script async defer
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcLIN5HTUvsOSBRlQh3kjHKTnMGQdJYcM&callback=initMap">
                  </script>
            <br>
            <div class="form-group row">
            <label for="from" class="col-sm-0 col-form-label">From:</label>
            <div class="col-sm-2">
              <input type="text" class="form-control" name="Departure" id="from" placeholder="From" value="<%= typeof Departure != 'undefined' ? Departure : '' %>">
            </div>
            <label for="to" class="col-sm-0 col-form-label">To:</label>
            <div class="col-sm-2">
              <input type="text" class="form-control" name="Destination" id="to" placeholder="To" value="<%= typeof Destination != 'undefined' ? Destination : '' %>">
            </div>
            <button type="submit" class="btn btn-primary btn-block col-sm-2">
                Search
              </button>
          </div>
          <div class="timeline-time">
              <br>
              <h3>Loads Available: </h3>
              <br>
              <p>
              <table style="width:100%">
                  <thead colspan="2">
                      <tr class="timeline-yellow">
                      <td><b>Departure</b></td>
                      <td><b>Destination</b></td>
                      <td><b>Location</b></td>
                      <td><b>Tons</b></td>
                      <td><b>Contact</b></td>
                      </tr>
                
                    </thead>
                <% for(var i=0; i< result.length; i++) {%>
                  <tr>
                      <td><%= result[i].Departure %></td>
                      <td><%= result[i].Destination %></td>
                      <td><%= result[i].Location %></td>
                      <td><%= result[i].Tons %></td>
                      <td><%= result[i].Contact %></td>
                    
                  <%} %>
                  </tr>
    
              </ol>
              </table>
            </p>
          </div>
         
       
        </body>
 
      </form>
  </div>
  <div class="tab-pane fade" id="userpanel">
<p>You can edit your loads here</p>
  </div>
</div>